<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header>
            <h1></h1>
        </header>

        <aside>
            <p><span class="nick-name">uno</span></p>
            <p><a class="u-url" rel="mc" href="mailto:aaa@gmail.com"></a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <P>#JAVA</P>
        </aside>

    </main>

    <footer id="footer"></footer>


</body>
</html>