<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>
<body>

<header th:replace="header :: header"></header>

<main>
    <form>
        <label name="search" hidden>유형</label>
        <select name="search-type">
            <option>제목</option>
            <option>제목</option>
            <option>본문</option>
            <option>ID</option>
            <option>닉네임</option>
            <option>해시태그</option>
        </select>
        <input id="search-value" type="search" placeholder="검색어.." name="search-value">
        <button type="submit">검색</button>
    </form>

    <table>
        <thead>
            <th>제목</th>
            <th>해시태그</th>
            <th>작성자</th>
            <th>작성일</th>
        </thead>
        <tbody>
          <tr>
              <td>첫글</td>
              <td>#java</td>
              <td>홍길동</td>
              <td>2022-07-22</td>
          </tr>
          <tr>
            <td>두번째글</td>
            <td>#java</td>
            <td>홍길동</td>
            <td>2022-07-22</td>
          </tr>
          <tr>
            <td>세번째글1111</td>
            <td>#java</td>
            <td>홍길동</td>
            <td>2022-07-22</td>
          </tr>
        </tbody>
    </table>

</main>

<footer th:replace="footer :: footer"></footer>


</body>
</html>